*{
    padding: 0;
    margin: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    background-color: #230802;
}
@media screen and (min-width:1200px){
    header{
        height: 12vh;
        width: 100%;
    }
    nav{
        height: 10vh;
        width: 100%;
        position: fixed;
        background-color:black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .logo{
        width: 20vw;
        color: bisque;
        font-family:'Times New Roman', Times, serif;
        font-size: 1.8rem;
        text-align: center;
    }
    .nav_links{
        height: 8vh;
        width: 40vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .nav_links>a{
        display: inline-block;
        text-decoration: none;
        color: gray;
        height: 4vh;
        width: 6vw;
        text-align: center;
    }
    .nav_links>a:hover{
        color: white;
    }
    section{
        height: 400vh;
        width: 100%;
        border: 1px solid white;
    }
    .main_img{
        height: 95vh;
        width: 100%;
        border: 1px solid #230802;
        background-image: url("images/barber_main_cut.png");
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
    }
    .title_1{
        width: 29vw;
        color: bisque;
        font-family: 'Times New Roman', Times, serif;
        font-size: 2.5rem;
        font-weight: 600;
        margin-top: 100px;
        margin-left: 60px;
    }
    .title_2{
        width: 29vw;
        color: bisque;
        margin-top: 20px;
        margin-left: 60px;
    }
    .recording{
        height: 10vh;
        width: 20vw;
        text-align: center;
        align-content: center;
        margin-top: 50px;
        margin-left: 60px;
    }
    .recording>a{
        width: 14vw;
        height: 6vh;
        background-color: darkorange;
        display: inline-block;
        color: black;
        align-content: center;
        text-decoration: none;
        border-radius: 10px 10px 10px 10px;
    }
    .About_us{
        height: 190vh;
        width: 100%;
        border: 1px solid white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .About_info{
        height: 48vh;
        width: 35vw;
        border: 1px solid white;
    }
    .About_info>p{
        width: 30vw;
        border: 1px solid white;
        color: bisque;
        margin-top: 10px;
    }
    .About_img{
        height: 48vh;
        width: 35vw;
        border: 2px solid bisque;
        border-radius: 10px 10px 10px 10px;
    }
    .About_img>img{
        height: 100%;
        width: 100%;
        border-radius: 10px 10px 10px 10px;
    }
    .About_us_heading{
        font-size: 2rem;
        color: bisque;
        font-weight: 600;
        font-family:'Times New Roman', Times, serif;
        text-decoration: underline 2px solid;
    }
}